.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: start;
    padding: 20px;
}

.about-container p {
    font-size: 22px;
    padding: 8px;
    margin: 0;
}

.about-container a {
    color: aqua;
}

.about-content h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.about-container figure {
    margin-top: 30px;
    width: auto;
}

.about {
    background-color: #1e1e1e;
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.profile-pic {
    width: 150px;
    height: 150px;
    border: 1.2rem solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.pic-div {
    margin-bottom: 20px;
    justify-items: start;
    justify-content: start;
}

.about-content {
width: auto;

}

.about-content p {
    margin-top: 8px;
}

.pull-quote {
    position: relative;
    text-align: center;
    background-color: #999999;
    width: auto;

    margin: 20px auto;
    padding: 20px;
}


.pull-quote blockquote p {
    font-weight: 400;
    color: #333;
    padding-top: auto;
}

.pull-quote blockquote:before {
    content: "";
    display: block;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background: center center;
    background-size: contain;
    background-image: url(../images/icons/icon-quote.svg);
    transform: translateX(-50%);
    position: absolute;
    top: 10px;
    left: 50%;
}

@media screen and (min-width: 768px) {
    .about-container {
        flex-direction: row;
        height: 700px;
    }

    .about-content {
        margin-left: 20px;
        text-align: left;
    }

    .pic-div {
        display:block;
        }
}
