
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@300;400;500;600;700&display=swap");
body {
  
  margin: 0;
  padding: 0;
}

.projects {
  background-color: #f9f9f9;
  padding: 100px 20px;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 32px;
  color: #333;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.project {
  width: calc(50% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.project-description {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 767px) {
  .projects {
    padding: 50px 20px; /* Adjust padding for smaller screens */
  }

  .project {
    width: calc(100% - 40px);
  }
}
